@model IEnumerable<GadgetStore.Models.UserProfile>

@{
    ViewBag.Title = "Users";
}
   
@{Html.RenderPartial("../DashBoard/index");}

    <!-- Content Column -->
    <div class="col-md-9">                       
        <p>
            @using (Html.BeginForm("Index", "Users", FormMethod.Get))
            {    
                <b>Search By:</b>
                    @Html.RadioButton("searchBy","UserName", true);<text>UserName</text>
                    @Html.RadioButton("searchBy","FirstName");<text>First Name</text>
                    @Html.RadioButton("searchBy","LastName");<text>Last Name</text>
                    @Html.RadioButton("searchBy","County");<text>Country</text>
                    @Html.RadioButton("searchBy","City");<text>City</text>
                <p> Search: @Html.TextBox("SearchString") <br />
                <input type="submit" value="Filter" />     
                <input type="button" value="Clear" onclick="location.href='@Url.Action("Index", "Users")'"/>
                </p>                      
            }   
            </p>                    
        <table>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.UserName)
                </td>  
                    <td>
                    @Html.DisplayNameFor(model => model.FirstName)
                </td>  
                    <td>
                    @Html.DisplayNameFor(model => model.LastName)
                </td>  
                    <td>
                    @Html.DisplayNameFor(model => model.Country)
                </td>  
                <td>
                    @Html.DisplayNameFor(model => model.City)
                </td>  
                <td>
                    @Html.DisplayNameFor(model => model.Address)
                </td>  
                <td>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </td>          
            </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modeluser => user.UserName)
                </td>    
                    <td>
                    @Html.DisplayFor(modeluser => user.FirstName)
                </td>  
                    <td>
                    @Html.DisplayFor(modeluser => user.LastName)
                </td>  
                    <td>
                    @Html.DisplayFor(modeluser => user.Country)
                </td>  
                <td>
                    @Html.DisplayFor(modeluser => user.City)
                </td>
                <td>
                    @Html.DisplayFor(modeluser => user.Address)
                </td>  
                <td>
                    @Html.DisplayFor(modelCat => user.EmailAddress)
                </td>    
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = user.UserId }) |            
                    @Html.ActionLink("Delete", "Delete", new { id = user.UserId })
                </td>
                </tr>
        }                  
        </table>                         
            <a href="@Url.Action("index", "Admin", new { area = "" }, null)"
                <button>Back to Admin DashBoard</button>
            </a>                                        
</div>
</div>
</div>