@model IEnumerable<GadgetStore.Models.CategoryModel>

<nav id="categories">
    <ul>
        @foreach (var cat in Model)
        {            
            <li>
                @Html.ActionLink(cat.Name,null)                      
                <a href="@Url.Action("Details","Categories",new { id = cat.CategoryId})">
                   <img src="@Url.Content(@cat.PhotoUrl)" alt ="" width="200" height="200" border="5" />                   
               </a>
            </li>
        }        
        <li>@Html.ActionLink("More...", "Index", "Categories")
        </li> 
    </ul>
</nav>
