@model IEnumerable<GadgetStore.Models.CategoryModel>

@{Html.RenderPartial("../DashBoard/index");}


<div class="col-md-9">  
        @using (Html.BeginForm("Index", "CategoriesAdmin", FormMethod.Get, new { id = "categories-admin", @class = "admin-form" }))
        {
           <div> 
               <b>Search:   </b> @Html.TextBox("SearchString")
               <input class="btn btn-primary" type="submit" value="Filter" />     
               <input class="btn btn-primary" type="button" value="Clear" onclick="location.href='@Url.Action("Index", "CategoriesAdmin")'" />
           </div>                  
        }
    <i class="admin-link">@Html.ActionLink("Create New", "Create") </i>         
    <table class="admin-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoUrl)
            </th>

            <th></th>
        </tr>

        @foreach (var cat in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelCat => cat.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelCat => cat.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelCat => cat.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelCat => cat.PhotoUrl)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = cat.CategoryId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = cat.CategoryId })
                </td>
            </tr>}
    </table>                      
</div>
</div>
</div>       


