@model IEnumerable<GadgetStore.Models.ManufactureModel>
    <table>

@{
    ViewBag.Title = "Manufactures";
}

<h2>Manufactures Management</h2>
    
@using (Html.BeginForm("Index", "ManufacturesAdmin", FormMethod.Get))
{
   <p> Search: @Html.TextBox("SearchString") <br />
    <input type="submit" value="Filter" />  
    <input type="button" value="Clear" onclick="location.href='@Url.Action("Index", "ManufacturesAdmin")'"/>
   </p>                 
}   
 
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ManufactureId)
        </th>  
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>  
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>  
        <th>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </th>  

        <th></th>
    </tr>

@foreach (var cat in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelCat => cat.ManufactureId)
        </td>    
        <td>
            @Html.DisplayFor(modelCat => cat.Name)
        </td>    
        <td>
            @Html.DisplayFor(modelCat => cat.Description)
        </td>     
        <td>
            @Html.DisplayFor(modelCat => cat.PhotoUrl)
        </td>     
        <td>
          @Html.ActionLink("Edit", "Edit", new { id=cat.ManufactureId }) |            
          @Html.ActionLink("Delete", "Delete", new { id=cat.ManufactureId })
        </td>
     </tr>
}   
    </table>     
      
                    
<a href="@Url.Action("index", "Admin", new { area = "" },null)"
    <button>Back to Admin DashBoard</button>
</a>
   


