@model GadgetStore.Models.ManufactureModel


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h3>Manufacture Name : @Model.Name</h3>
<img src="@Url.Content(@Model.PhotoUrl)" alt ="" width="100" height="100"/> <br />
Description: @Model.Description<br />

<h2>Items by Manufacture </h2>
 @ViewBag.manufacItems


