@model GadgetStore.Models.ItemModel

@{
    ViewBag.Title = "Edit";
}
<h2>Edit Item</h2>
@using (Html.BeginForm())     
{    
    @Html.HiddenFor(model => model.ItemId)
    <div class="form">
        
            <p class="inline-field">
                <label>Item Name</label>
                @Html.TextBoxFor(model => model.Name)
                @Html.ValidationMessageFor(model => Model.Name)
            </p>        
            <p class="inline-field">
                <label>Description for Item</label>
                @Html.TextBoxFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </p>        
            <p class="inline-field">
                <label>Url Path for Item's Photo</label>
                @Html.TextBoxFor(model => model.PhotoUrl)
                @Html.ValidationMessageFor(model => model.PhotoUrl)
             </p>
            <p class="inline-field">
                <label>Amount of Purchases</label>
                @Html.TextBoxFor(model => model.PurchaseAmount)
                @Html.ValidationMessageFor(model => model.PurchaseAmount)
             </p>
            <div class="buttons">                
                <input type="submit" class="button" value="submit" />
            </div>        
    </div>
}