@model GadgetStore.Models.ItemModel


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h3>Item Name : @Model.Name</h3>
<img src="@Url.Content(@Model.PhotoUrl)" /> <br />
Price : @Model.Price <br />
Description: @Model.Description<br />
Purchased @Model.PurchaseAmount times <br />

Manufucture : @ViewBag.ManufuctureID





