@model IEnumerable<GadgetStore.Models.ItemModel>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Summary<small>Product orders amount</small>
                <small></small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
             <div class="chart-center">
                @{Html.RenderAction("ItemsChart", "Items");} 
              </div>
        </div>
        <div>
            @{Html.RenderAction("SearchPartial", "Items");}
        </div>                
    </div>

    <!-- Header -->
    <div class="row">
        <h1 class="page-header">
            Items
        </h1>
        @foreach (var item in Model)
        {
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img class="preview-img img-responsive" src="@Url.Content(@item.PhotoUrl)" />
                    <div class="caption">
                        <h4 class="pull-right">$@item.Price</h4>
                        <h4>@item.Name</h4>
                        <p class="text-center">
                            <i id="btn-custom" class="btn btn-default"><i class="fa fa-shopping-cart"></i> @Html.ActionLink("Buy Now", "AddToCart", "ShoppingCart", new { id = item.ItemId }, "")</i>
                            <i id="btn-custom" class="btn btn-default"><i class="fa fa-info-circle"></i> @Html.ActionLink("More Info", "Details", new { id = item.ItemId })</i>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- /.row -->
</div>
