@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc.Html;
@{
    ViewBag.Title = "Admin Page";    
}


<h2>@ViewBag.Title</h2>


<nav>
    <ul id="navigation">        
        <li>@Html.ActionLink("Users Management", "Index", "Users")</li>         
        <li>@Html.ActionLink("Items", "Index", "ItemsAdmin")</li>
        <li>@Html.ActionLink("Categories", "Index", "CategoriesAdmin" )</li>
        <li>@Html.ActionLink("Manufactures", "Index", "ManufacturesAdmin")</li>            
    </ul>
</nav>